body{
    
background-image: url(./WhatsApp\ Image\ 2024-04-28\ at\ 04.09.49_24a75318.jpg);
background-repeat:no-repeat;
   
}

#header{
   
    margin-top: 10px;
    margin-left: 70px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 200px;
    display:block;
    float: left;

}

#nav{

    margin-left: 850px;
    color: inherit;
    padding-top: 20px;
}

li{
    display: inline;
    padding: 20px;
    text-decoration: none;
}
#one {

    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;

}
#two {

    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#three {

    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
#four {

    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
#five {

    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#one:hover {
border-bottom: 3px solid #019688;

}

#two:hover {
    border-bottom: 3px solid #019688;
    
    }

#three:hover {
        border-bottom: 3px solid #019688;
        
}

#four:hover {
            border-bottom: 3px solid #019688;
            
}

#five:hover {
                border-bottom: 3px solid #019688;
                
}

#contents{
        text-align: center;
        margin-top: 210px;

}

#main{
    font-size: 50px;
    color: white; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

}
#line1{
    color: white;
     font-family:Arial, Helvetica, sans-serif ;
}
#line2{
    color: white;
     font-family:Arial, Helvetica, sans-serif ;
}

#b1{

    background-color: #019688; 
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 30px;

}

#b2{

    background-color: #01968700; 
    color: white;
    border: 2px solid;
    border-color: #019688;
    border-radius: 25px;
    padding: 10px 30px;

}